@charset "UTF-8";

html{
    height: 100%;
}

body{
    height: 100%;
    background-color: #52ACFF;
    background-image: linear-gradient(180deg, #52ACFF 25%, #FFE32C 100%);

}

/*ログイン画面*/

.login-header{
    text-align: center;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
}

.login-header p{
    color: #fff;
    font-size: 20px;
}

.form-title{
    padding-top: 20px;
    padding-bottom: 20px;
}

.login{
    width: 20em;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    border: none;
}

.login-form{
    text-align: center;
    color: #fff;
}

.login-container{
    border-radius: 10px;
    background-color: #727272;
    width: 20em;
    height: 20em;
    margin: auto;
}

#rgba01{
    background: rgba(51,112,121,0.6);
}

.login-title{
    padding-right: 180px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.login-btn p{
    padding-top: 10px;
    padding-right: 25px;
    text-align: right;
}

.loginbtn{
    background-color: red;
    border-color: red;
    color: #fff;
    border-radius: 10px;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 15px;
}

.register-btn a{
    color: #fff;
}

.register-btn p{
    padding-top: 30px;
    text-align: center;
}
