@charset "utf-8";
html{
}
body{
}
/* header */
header{
    background:#186AC9;
    display: flex;
    justify-content: space-between;
}


/*アコーディオン*/

.accordion{
    padding:10px;
    background:#186AC9;
    font-weight:bold;
}

.accordion-contents{
    padding:10px;
    display:none;
    background-color: #f7ecf1;
}


/* main content */
#row{
    display: flex;
    flex-flow: row wrap;
}
#container{
    flex: 0 0 80%;
}
#side-bar{
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

.header-menu{
    display: flex;
}


.sidebtn{
    color: #f7ecf1;
    background-color: #186AC9;
    border-color: #186AC9;
    border-radius: 3px;
    border: none;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 12px;
    width: 9em;
}
/*em=文字  親要素もしくわ自分の要素のフォントサイズを参照*/

.sidebtn a{
    color: #fff;
}

.ff{
    display: flex;
}

.content{
    margin: 0 auto;
    padding: 40px;
}
.modal{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}
.modal__bg{
    background: rgba(0,0,0,0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}
.modal__content{
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
}

/*ログイン画面*/
.login{
    display: block;
    position: absolute;
    width: 1280px;
    height: 720px;
}

/*TOP*/

.timeline{
    display: flex;
}

.form-group{
    display: flex;
}

.top-a{
    width: 100%;
}

.top-b{
    float: right;
}

.top-c{
    float: right;
}

/*SEARCH*/
.search-list{
    display: flex;
}

.btn-content{
    margin: 20px;
}

.search-name{
    padding-top: 25px;
}

.unfollow{
    background-color: red;
    border-color: red;
    color: #fff;
    border-radius: 3px;
    border: none;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 12px;
    width: 8em;
}

.follow{
    background-color: #186AC9;
    border-color: #186AC9;
    color: #fff;
    border-radius: 3px;
    border: none;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 12px;
    width: 8em;
}

.search{
    display: flex;
}

/*他ユーザー*/

.other-timeline{
    display: flex;
}

.other-profile{
    display: flex;
}

/*フォローリスト*/

.follow-timeline{
    display: flex;
}

.follow-a{
    width: 100%;
}

/*フォロワーリスト*/
.follower-timeline{
    display: flex;
}

.follower-timeline:nth-child(n+2){
    border-top: #727272;
}

.follower-a{
    width: 100%;
}