@charset "utf-8";
html{
}
body{
}
/* header */
header{
    background:#186AC9;
}

.accordion{
    padding:10px;
    background:#f7ecf1;
    font-weight:bold;
}

.accordion-contents{
    padding:10px;
    display:none;
}


/* main content */
#row{
    display: flex;
    flex-flow: row wrap;
}
#container{
    flex: 0 0 80%;
}
#side-bar{
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

.followerList-btn a{
    display: inline-block;
    color: #f7ecf1;
    background-color: #186AC9;
    border-radius: 30px;
    text-align: center;
}

.followList-btn a{
    display: inline-block;
    color: #f7ecf1;
    background-color: #186AC9;
    border-radius: 30px;
    text-align: center;
}

.users-search-btn a{
    display: inline-block;
    color: #f7ecf1;
    background-color: #186AC9;
    border-radius: 30px;
    text-align: center;
}